@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root{
    /*Palette*/
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181,0.9);
    --secondary-500: rgba(29, 132, 181,0.5);
    --secondary-300: rgba(29, 132, 181,0.3);
  
    --dark-solid: #1F1F1F;
    --dark-900:rgba(31, 31, 31, 0.9);
    --dark-500:rgba(31, 31, 31, 0.5);
    --dark-300:rgba(31, 31, 31, 0.3);

    --dark2-solid: #30343F;
    --dark2-900: rgba(48, 52, 63, 0.9);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;

    --light-font-solid: #FFFFFF;

    /*Fonts*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /*Font-sizes*/
    --font-display: 4.6em; /*1rem= no siempre va a valer 10px*/
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-20: 2em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-14: 1.4em;
    --font-xsmall: 1.2em;
    
    /*Spacings*/
    --spacing-128: 12.8rem; /*1rem= siempre va a valer 10px*/
    --spacing-68: 6.8rem;
    --spacing-36: 3.8rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.8rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--base-font);
    font-size: 62.5%; /*=1em=10px*/
    color: var(--dark-solid);
}

a{
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    font-size: 2em;
}

header, 
footer{
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background-color: var(--dark-bg-solid);
    width: 100%;
}

button{
    font-family: var(--base-font);
}

ul, ol{
    list-style-type: none;
}

input{
    font-size: var(--font-20);
}

.container{ 
    width: 1200px;
    margin: 0 auto;
}

/*HEADER*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4em;
    padding-bottom: 4em;
}

.logo-nav{
    width: 37.2em;
}

.barra-navegacion{
    width: 40.6em;
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

/*BANNER*/
.tamano-banner{
    width: 100%;
    height: 388px;
    overflow: hidden;
}

.tamano-banner img{
    width: 100%;
    filter: blur(2px);
    position: relative;
    top: -390px;
}

.texto-banner{
    position: absolute;
    left: 110px;
    top: 254px;
    color: var(--light-font-solid);
    font-family: var(--alternative-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16.8em;
}

.texto-banner h2{
    font-size: var(--font-jumbo);
    padding-bottom: var(--spacing-8);
}

.texto-banner p{
    font-size: var(--font-medium);
}

.texto-banner button{
    background-color: var(--light-bg-solid);
    border: none;
    width: 211px;
    height: 47px;
    border-radius: 50px;
    font-size: var(--font-medium);
}

/*MAIN*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoria{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto-categoria{
    font-family: var(--alternative-font);
    width: 45.8em;
}

.titulo-categoria{
    font-size: var(--font-display);   
    font-weight: 500;
    padding-bottom: var(--spacing-8);
}

.texto-categoria p{
    font-size: var(--font-large);
    font-weight: 400;
    padding-bottom: var(--spacing-28);
}

.linea{
    border: solid 1.5px var(--primary-solid);
    margin-bottom: var(--spacing-36);
}

.texto-categoria button{
    background-color: var(--dark-bg-solid);
    border: none;
    width: 292px;
    height: 65px;
    border-radius: 50px;
    font-size: var(--font-large);
    color: var(--light-font-solid);
}

.img-categoria{
    width: 60em;
}

/*ULTIMOS LANZAMIENTOS*/

.ultimos-lanzamientos h2{
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    padding-bottom: var(--spacing-36);
}

.contenedor-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: var(--spacing-68);
}

.producto {
    max-width: 36em;
}

.producto img{
    width: 100%;
}

.producto span{
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-size: var(--font-14);
    position: absolute;
    width: 96px;
    height: 30px;
    padding: 7px 22px;
}

.last-categoria{
    font-size: var(--font-14);
    font-weight: 500;
    padding-bottom: var(--spacing-12);
}

.last-producto{
    font-size: var(--font-medium);
    font-weight: 700;
    padding-bottom: var(--spacing-12);
}

.last-precio{
    font-size: var(--font-small);
    padding-bottom: var(--spacing-12);
}

.tres-cuotas{
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: var(--secondary-solid);
}

/*FOOTER*/
.enlaces{
    padding: 8.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lista-enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-8);
}

.enlaces img{
    width: 14.3em;
}

footer p {
    font-size: var(--font-20);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

/* SHOP.HTML */
/* BUSCADOR */
.shop{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: var(--spacing-68);
    padding-bottom: var(--spacing-68);
}

.buscador{
    width: 25em;
}

.buscador form{
    display: flex;
    flex-direction: column;
}

.titulo-buscador{
    font-size: var(--font-large);
    font-weight: 500;
    margin-bottom: var(--spacing-16);
}

#item, #orden {
    width: 243px;
    height: 44px;
    border: solid 2px var(--dark-bg-solid);
    border-radius: 5px;
    padding: .5em;
    margin-bottom: var(--spacing-28);
}

.min-max{
    font-size: var(--font-small);
    margin-bottom: var(--spacing-28);
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.min-max-input{
    width: 59px;
    border: solid 2px var(--dark-bg-solid);
    border-radius: 5px;
    text-align: center;
    font-size: var(--font-xsmall);
} 

.filtros{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1em;
}

.filtros input{
    width: 59px;
    height: 27px;
    border: solid 2px var(--dark-bg-solid);
    border-radius: 5px;
}

.filtros label{
    font-size: var(--font-medium);
}

/* GALERIA ITEMS */
.galeria-shop{
    width: 96em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.producto-shop{
    max-width: 30.4em;
}

/* ITEM.HTML */
.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: var(--spacing-68);
    padding-bottom: var(--spacing-68);
}

.item img{
    width: 55em;
}

.texto-producto{
    display: flex;
    flex-direction: column;
}

.item-categoria{
    font-size: var(--font-small);
    margin-bottom: var(--spacing-16);
}

.item-nombre{
    font-size: var(--font-jumbo);
    font-weight: 700;
    margin-bottom: var(--spacing-16);
}

.item-descripcion{
    font-size: var(--font-large);
    margin-bottom: var(--spacing-16);
}

.item-precio{
    font-size: var(--font-jumbo);
    margin-bottom: var(--spacing-28);
}

.item-cantidad{
    display: flex;
    gap:0.5em;
    align-items: stretch;
}

.signo{
    width: 3.8em;
    height: 3.8em;
    border: none;
    background-color: var(--dark2-900);
    color: var(--light-font-solid);
}

.signo-mas{
    margin-right: var(--spacing-28);
}

.item-cantidad input{
    width: 3.8em;
    text-align: center;
}

.add-carrito{
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    width: 12.1em;
    border:none;
    font-size: var(--font-medium);
}

.item-metodos{
    font-size: var(--font-small);
    font-weight: 700;
    color: var(--secondary-solid);
    margin-bottom: var(--spacing-28);
}

.item-metodos a{
    font-size: inherit;
    text-decoration: underline;
}
